# @babadeluxe:registry=https://npflared.simonwaiblinger.workers.dev
@babadeluxe:registry=http://npflared.simonwaiblinger.de
//npflared.simonwaiblinger.de/:_authToken=t17zddg5jh3y9e7etj6vp630cm
//npflared.simonwaiblinger.de/:always-auth=true
legacy-peer-deps=true
