node_modules/
src/
.git/
.vscode/
.husky/

*.log
*.old

.barrelsby.json
.editorconfig
.gitattributes
.gitignore
.npmignore
.npmrc
.prettierrc

.env
.env.example
.env.local

tsconfig.json
xo[.-]config.ts
