node_modules/
src/
.git/
.vscode/
.husky/
*.log
*.old
.barrelsby.json
.editorconfig
.gitattributes
.gitignore
.npmignore
.npmrc
.prettierrc
.env*
tsconfig.json
example.npmrc
package-lock.json
xo[.-]config.ts
